:root {
  --text: #f2e9eb;
  --background: #130c0e;
  --primary: #cda8b3;
  --secondary: #54643a;
  --accent: #e02447;

  --linearPrimarySecondary: linear-gradient(#cca7b2, #536339);
  --linearPrimaryAccent: linear-gradient(#cca7b2, #df2347);
  --linearSecondaryAccent: linear-gradient(#536339, #df2347);
  --radialPrimarySecondary: radial-gradient(#cca7b2, #536339);
  --radialPrimaryAccent: radial-gradient(#cca7b2, #df2347);
  --radialSecondaryAccent: radial-gradient(#536339, #df2347);


  --scrol-bar: #464646;
  --scrollbar-thumb: #888888;

  --logo-grid-width: 100px;
  --logo-width: 64px;
  --name-grid-width: 200px;
  --socials-grid-width: calc(100% - var(--logo-grid-width) - var(--name-grid-width));

  @media (prefers-color-scheme: light) {
    --text: #160d0f;
    --background: #f3ecee;
    --primary: #57323d;
    --secondary: #b5c59b;
    --accent: #db1f42;
  }
}

html {
  height: 100%;
  width: 100%;
  a {
    text-decoration: none;
    color: var(--text);
  }
}

body::-webkit-scrollbar {
  background: var(--scrol-bar);
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrol-bar);
  border-radius: 10px;
  border-inline: 1px solid var(--scrollbar-thumb);
}

body::-webkit-scrollbar-corner {
  background-color: var(--background);
}

body {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
  height: 5000px;
  font-family: "Valera Round", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-in-out;

  .header {
    height: 100px;
    width: 100%;
    border: var(--outline) solid #ffffff;
    background: hsla(0, 0%, 25%, 0.75);
    outline-offset: 1px;
    display: grid;
    grid-template-columns: var(--logo-grid-width) var(--name-grid-width) var(--socials-grid-width);
    grid-template-rows: 100%;
    grid-template-areas: "logo name socials";

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-area: logo;

      img {
        width: var(--logo-width);
        height: var(--logo-width);
        border-radius: 15%;
      }
    }

    .socials {
      display: grid;
      grid-area: socials;
      margin-right: 1rem;
      justify-content: right;

      grid-template-columns: repeat(3, 150px);
      grid-template-areas: "discord youtube twitch";

      .social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        margin-right: 0.5rem;
        font-size: 1.2rem;

        .social-logo {
          width: calc(var(--logo-width) - 32px);
          height: calc(var(--logo-width) - 32px);
          margin-right: 10px;
        }
      }

    }

    .name {
      grid-area: name;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: calc(var(--logo-width) * 0.5);
    }
  }

  .footer {
    height: 30px;
    display: flex;
    width: calc(100%);
    align-items: center;
    justify-content: center;
    background: hsla(0, 0%, 25%, 0.75);

    position: absolute;
    bottom: 0;
  }
}

.left_aligned {
  display: flex;
  justify-content: start;
  align-items: center;
}

.right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.left_card {
  transform: translateX(-10%);
}

.right_card {
  transform: translateX(10%);
}

.card {
  opacity: 0;
  width: 80%;
  padding: 1rem;
  display: flex;
  border-radius: 20px;
  align-items: center;
  margin: 1rem 0;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  background-color: hsla(0, 0%, 25%, 0.4);

  .card-title {
    font-size: 1.4rem;
    margin-bottom: 1em;
    color: var(--accent);
  }

  .card-text {
    padding: 0 1rem 1rem 1rem;
  }

}

hr {
  border-color: hsl(348, 26%, 93%, 15%);
}

.card.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.discord {
  grid-area: discord;
}

.youtube {
  grid-area: youtube;
}

.twitch {
  grid-area: twitch;
}

@media (max-width: 1024px) {
  :root {
    --logo-grid-width: 80px;
    --logo-width: 58px;
    --name-grid-width: 180px;
    --socials-grid-width: calc(100% - var(--logo-grid-width) - var(--name-grid-width));
  }

  .container {
    grid-template-rows: 20%
                        35%
                        35%
                        10%;
  }
}

@media (max-width: 768px) {
  :root {
    --logo-grid-width: 60px;
    --logo-width: 48px;
    --name-grid-width: 160px;
    --socials-grid-width: calc(100% - var(--logo-grid-width) - var(--name-grid-width));
  }

  .socials {
    grid-template-columns: 100% !important;
    grid-template-rows: repeat(3, 33%) !important;
    grid-template-areas: "discord"
                         "youtube"
                         "twitch" !important;

    .social {
      display: flex !important;
      align-content: center !important;
      justify-content: end !important;
    }
  }

  .container {
    grid-template-rows: 20%
                      40%
                      40%;
  }
}